body {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background:#D6F0FF;
  color: #333;
  margin: 0;
}

h2{
  margin-bottom: 20px;
  text-align: center;
}

form {
  background: #fff;
  padding: 24px 28px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.8);
  width: 700px;
}

.rowalign{
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.rowalign label{
  width: 200px;
  font-weight: 600;
  color: #333;
}

.rowalign input{
  flex: 1;
  padding: 8px 12px;
  border: 1px;
  border-radius: 4px;
  font-size: 14px;
  width: 90px;
}

input[type="text"] {
  width: 90%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="number"] {
  width: 80%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color:#0A5FAF;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-content: end;
}

.proceed {
  background-color: #0A5FAF;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-content: end;
}

.proceed:hover {
  background-color: #084C8A;
}

#askmarks{
  display: none;
}

input[type="submit"]:hover {
  background-color: #084C8A;
}

#marks{
  margin-top: 8px;
}

.subjectrow{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.subjectlabel{
  width: 200px;
  font-weight: 600;
  margin-right: px;
}

.subjectmarks{
  flex: 1;
  width: 20%;
  padding: 8px 12px;
  border: 1px;
  border-radius: 4px;
  font-size: 14px;
}

.compute {
  display: none;
  background-color: #0A5FAF;
  width: 100px;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: end;
}

.compute:hover {
  background-color: #084C8A;
}

.cancel {
  background-color: #0A5FAF;
  width: 100px;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-content: end;
}

.concel:hover {
  background-color: #084C8A;
}

.candiv{
  padding: 8px
}

#result{
  display: none;
  margin-top: 10px;
  padding: 12px;
  background: #D6F0FF;
  border-radius: 6px;
  width: 96.5%;
  font-weight: 600;
  justify-content: center;
}
