:root { --brand-maxw: 1200px; }
.header-photo {
  width: 88px; height: 88px; object-fit: cover;
  border-radius: 50%; border: .5px solid lightgray;
}
.hero-tagline { color:#6c757d; }
.section-title { margin-top: 2rem; margin-bottom: .75rem; }
footer { border-top: .5px solid rgba(0,0,0,.04); }

.navbar{
    color: rgb(91, 91, 91);
}
.nav-link{
    color: rgb(91, 91, 91);  
}

.navbar:hover{
    color: #0d6efd;
}
.nav-link:hover{
    color: #0d6efd;  
}

.navbar:active{
    color:black;
    font-weight: 600;
    border-bottom: 2px solid #1a73e8;
}
.nav-link:active{
    color:black;
    font-weight: 600;
    border-bottom: 2px solid #1a73e8;
}
.bullets{
    list-style-type: square;
}
.font14{
    font-size: 14px;
}
.experience-header {
  background-color: #f8f9fa;
  color: black;
  padding: 0.3rem .3rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 1px solid #0d47a1;
}
.experience-body {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #333;
}
.lnheight {
    line-height: 1.8;
}
.navbar-toggler { border: 1px solid rgba(0,0,0,.15); }
.navbar-collapse.collapse.show {
  display: block !important;
}